*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    padding-left: 440px;
}

.Venn-diagram{
   position: relative;
   width: 500px;
   height: 500px;
   margin: 20px 20px 20px 20px;
   padding: 10px 10px 10px 10px;
   background-color: white;
   margin-inline: 300px;
 
}

.circle {
    border: 0.09em solid black;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}

.color {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode:screen;
}


#circle1 {
    top:20px;
    left: 100px;   
    background-color: red;
    z-index: 1000;
    
}

#circle1 .color{
    background-color: rgba(255, 0, 0, 0.486);
}


#circle2 {
    top: 150px;
    left: 10px;
    background-color: green;
    
}

#circle2 .color{
    background-color: rgba(0, 128, 0, 0.473);
}

#circle3 {
    top: 150px;
    left: 200px;
    background-color: blue;
    
}

#circle3 .color{
    background-color: rgba(0, 0, 255, 0.45);
}


.overlap {
    position: absolute;
    font-size: 13px;
    text-align: center;
    mix-blend-mode: screen;
    
}

#overlap1 {
    top: 200px;
    left: 170px;
    mix-blend-mode: screen;
}

#overlap2 {
    top: 200px;
    left: 270px;
    mix-blend-mode: screen;
}

#overlap3 {
    top: 300px;
    left: 215px;
    mix-blend-mode: screen;
    
}

#overlap4 {
    top: 230px;
    left: 210px;
    mix-blend-mode: screen;
}