*{
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    padding: 72px 0px 112px;
    background: #f2f4f7;

}


.container{
    width: 80%;
    margin: 0px 50px;
    padding: 20px 0px;
   display: flex;
}

.leftside{
    margin-left: 100px;
    margin-right: 70px;
}

.faceimg{
    margin: -28px;
    width: 320px;
    padding: 112px 0px 16px;
}

.herosection{
    color: #1c1e21;
    font: 27px SFProDisplay-Regular, Helvetica, Arial;
    padding: 0px 0px 20px;
    font-weight: lighter;
    word-spacing: 0em;
    text-align: justify;
    
}

.rightside{
    border: 5px ;
    margin: 0px 10.6667px;
    margin-right: -60px;
    
}

form{
    align-items: center;
    margin:40px 0px 0px ;
    background: #ffffff;
    padding:20px 0px 28px ;
    width: 396px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 8px 16px rgba(0,0,0,.1);

}

.inputone{
    background: #ffffff;
    padding: 14px 16px;
    width: 330px;
    margin: auto;
    border: 1.5px solid rgb(200, 200,200);
    border-radius: 6px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: block;
    font-weight: lighter;
}


.inputtwo{
    background: #ffffff;
    padding: 14px 16px;
    width: 330px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border: 1.5px solid rgb(200, 200,200);
    border-radius: 6px;
    color: black;
    font-size: 17px;
    font-weight: lighter;
}

.Login{
    background: #0866FF;
    color:  #ffffff;
    padding: 0px 16px;
    font: 20px Helvetica, Arial, sans-serif;
    margin: auto;
    width: 365px;
    display: block;
    border: none;
    border-radius: 5px;
    padding: 0px 16px;
    font-weight: bold;
    line-height: 48px;
}

.forgotten{
    color: #0866FF;
    font: 14px Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0px 16px;
    
}

.line{
    margin: 20px 16px;
}

.new{
    color: #ffffff;
    background: #42b72a;
    margin: auto;
    font: 17px Helvetica, Arial, sans-serif;
    padding: 0px 16px;
    display: block;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    font-weight: bold;
    width: 180px;
    
}

.Create{
    text-align: center;
}